* {
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* Header */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 50px;
}


header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header nav a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    width: 50%;
    text-align: center;
    padding: 30px 20px 0 20px;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Trouvez votre hébergement pour des vacances de rêve */

.informations {
    padding: 0px 50px;
}

.top h1 {
    margin-bottom: 10px;
}

/* formulaire */

.formulaire {
    display: flex;
    margin-top: 20px;
   
}

.barre-rechercher {
    width: 332px;
    height: 48px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}


.barre-rechercher i {
    background-color: #F2F2F2;
    width: 50px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    border-radius: 15px 0 0 15px;

}

.barre-rechercher .input-city {
    height: 48px;
    border: none;
    margin-left: 30px;
    font-weight: bold ;
    color: black;
}

input::placeholder {
    color: black;
    border: none;
}

input:focus::placeholder {
    color: transparent;
  }

.logo-rechercher {
    display: none;
}

.Rechercher {
    background-color: #0065FC;
    color: #FFFF;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    width: 132px;
    justify-content: center;
}

/*filtres */

.filtres {
    display: flex;
    margin-top: 40px;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    
}

.filtres-item {
    display: flex;
    float: left;
    height: 50px;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px;
}

.filtres-item:hover {
    background: #DEEBFF;
}

.filtres-item h3 {
    margin-left: 7px;
}

.logements {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-info {
    border: #D9D9D9 solid 1px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logements p {
    margin-left: 15px;
    font-weight: 400;
}

.hebergements {
    width: 100%;
    padding: 20px 50px;
    display: flex;
}

.resultats {
    background-color: #F2F2F2;
    width: 75%;
    border-radius: 20px;
}

.populaires {
    background-color: blue;
    flex: 1 1 auto;
}

/* Hebergements */

.logement {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 250px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px; 
    margin: 30px;
    padding: 5px;

}

.card h2 {
    font-weight: 700;
    font-size: 16px;
}

h2, p , .etoiles {
    margin-left: 20px;
    padding: 5px;
    width: 100%;
}


