* {
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}


/* \\\\\\\Header///////// */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}


header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header nav a {
    margin-left: 50px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    width: 50%;
    text-align: center;
    padding: 30px 20px 0 20px;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.menu {
    margin-right: 30px;
}

/* Trouvez votre hébergement pour des vacances de rêve */


.top h1 {
    margin-bottom: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

/* \\\\\\\form/////// */

.form {
    margin-top: 20px;
   
}

.searching-bar {
    width: 100px;
    height: 48px;
    display: flex;
}

.searching-bar form {
    display: flex;
}

.searching-text input[type=submit] {
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #0065FC;
}



.searching-bar i {
    background-color: #F2F2F2;
    width: 50px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px 0 0 15px;

}

.searching-bar .input-city {
    height: 48px;
    border: 1px solid #F2F2F2;
    padding-left: 30px;
    font-weight: bold ;
}

input::placeholder {
    color: black;
}

input:focus::placeholder {
    color: transparent;
  }

input:focus {
    outline: none;
}

  

.logo-rechercher {
    display: none;
}

.searching-text {
    background-color: #0065FC;
    color: #FFFF;
    font-weight: 700;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    width: 132px;
    justify-content: center;
    padding: 10px;
}

/*\\\\\\\\\\\filters//////////// */

.filters {
    display: flex;
    margin-top: 40px;
    width: 70%;
    align-items: center;
}

.all-filters {
    display: flex;
}

.filters-item {
    display: flex;
    height: 50px;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 8px;
    margin-left: 50px;
    white-space: nowrap;
}

.filters-item:hover {
    background: #DEEBFF;
}

.filters-item h3 {
    margin-left: 7px;
    font-size: 17px;
}

.filters-logo i {
    font-size: 22px;
    color: #0065FC;
}

.available-housing {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-info {
    border: #D9D9D9 solid 1px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-info i {
    font-size: 10px;
    color: #0065FC;
}

.available-housing p {
    margin-left: 15px;
    font-weight: 400;
}

/*\\\\\\\\\accomodation/////////// */

.results {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.accomodation {
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 20px;
}

.popular {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;
    height: 100%;
}


.logement {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
    
}


.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card {
    width: 240px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px; 
    margin: 20px 0 20px 0px;
    padding: 5px;
    box-shadow: 2px 2px lightgray;
}

.card h2, .card-popular h2 {
    font-weight: 700;
    font-size: 16px;
}

.card h2, .card p, .card .stars {
    margin-left: 20px;
    padding: 5px;
    width: 100%;
}

.title-accomodation {
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    justify-content: flex-start;
    padding-left: 1em;
}


.show-more {
    display: flex;
    justify-content: flex-start;
    padding: 20px 50px;
}

.all-cards a {
    text-decoration: none;
    color: black;
}

.stars i {
    font-size: 12px;
 }
 .stars i:nth-child(-n+4) {
     color: #0065FC;
 }
 
 .stars i:nth-child(n+5) {
     color: #F2F2F2;
 }


/* \\\\\\Most popular/////// */

.top-popular {
    padding: 20px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-popular {
    padding-top: 3px;
    padding-left: 10px;
}

.logo-popular i {
    font-size: 18px;
    color: #0065FC;
}

.all-cards-popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logement-populaire {
    width: 140px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0 0 20px;
    
}

.content-popular {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 15px;
}


.card-popular {
    display: flex;
    max-width: 345px;
    width: 90%;
    height: 145px;
    background: #FFFFFF;
    border-radius: 20px; 
    margin: 20px 8px 20px 8px;
    padding: 5px;
    box-shadow: 2px 2px lightgray;
}



.all-cards-popular a {
    text-decoration: none;
    color: black;
    display: flex;
}

.content-popular {
    position: relative;
}

.price-popular {
    margin-top: 2px;
}

.content-popular .stars {
    position: absolute;
    top: 85%;
}


/* \\\\\\\\ Activités ////////  */

.container-activities a {
    text-decoration: none;
    color: black;
}



.container-activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.child-activities {
    display: flex;
    width: 20%;
    height: 445px;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 4px lightgray;
}

.image-activities img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
}

.activities {
    width: 100%;
    padding: 50px 0px;

}

.child-activities h4 {
    height: 56px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* \\\\\\\\FOOTER////////// */

footer {
    padding: 40px 0px;
    background-color: #F2F2F2;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30%;
}

.container-footer:nth-child(1){
    margin-left: 70px;
}

.list-card-footer {
    margin-top: 15px;
}

.list-card-footer li {
    margin-top: 10px;
    list-style: none;
}

.list-card-footer ul {
    padding-left: 0;
}

/* \\\\\\\Responsive medias queries////// */

@media screen and (width < 992px) and (min-width: 768px) {
    
    .filters-item{
        margin-left: 15px;
    }
    
    .results {
        display: block;
    }

    .accomodation, .popular {
        width: 100%;
    }

    .popular {
        margin-top: 60px;
    }

    .all-cards-popular {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card-popular {
        max-width: 250px;
    }

    .title-popular h2 {
        font-size: 14px;
    }

    .logement-populaire {
        width: 106px;
    }

    .price-popular p {
        font-size: 13px;
    }

    .top-popular {
        justify-content: space-between;
        padding: 30px 30px 0px 30px;
    }

    .child-activities {
        height: 267px;
    }

    .image-activities img {
        height: 211px;
    }

    
}

@media (width < 768px) {
    header {
        flex-direction: column;
        padding: 20px 0 0 0;
        margin-bottom: 50px;
    }

    header nav {
        justify-content: center;
    }

    header nav a:hover {
        color: #0065FC;
        border-bottom: 4px solid #0065FC;
        border-top: none;
    }
    header nav a {
    padding: 30px 0px 20px 0px;
    margin-left: 0;
    border-bottom: 4px solid #F2F2F2;
    }

    .menu {
        margin-right: 0;
        width: 100%;
        display: flex;
    }

    .filters {
        flex-direction: column;
        width: 100%;
    }

    .filters h3 {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .all-filters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters-item {
        margin: 10px;
        width: 40%;
        white-space: normal;
    }

    .filters-item h3 {
        font-size: 11px;
    }

    .text-info {
        margin-right: 15px;
    }

    .results {
        flex-direction: column;
    }
    .popular {
        order: 1;
        width: 100%;
        border-radius: 0px;
    }

    .accomodation {
        order: 2;
        width: 100%;
        background-color: white;
    }

    .all-cards-popular {
        align-content: center;
    }

    .all-cards {
        flex-direction: column;
        align-items: center;
    }

    .all-cards a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card {
        max-width: 340px;
        width: 100%;
    }

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .informations {
        padding-left: 30px;
    }

    .container-activities {
        flex-direction: column;
        align-items: center;
        
    }

    .child-activities {
        max-width: 340px;
        width: 100%;
        height: 190px;
        margin-bottom: 40px;
    }

    .image-activities img {
        height: 134px;
    }

    .activities {
        padding: 50px 10px;
    }

    .activities h1 {
        padding-left: 10px;
    }

    footer{
        margin-right: 0;
    }

    .container-footer {
        flex-direction: column;
    }

    .card-footer {
        width: 100%;
        margin-bottom: 20px;
    }

    .show-more {
        display: none;
    }

    .logo-rechercher {
        display: flex;
        border: none;
    }

    .logo-rechercher i {
        background-color: #0065FC;
        color: #FFFF;
        border-radius: 0px 15px 15px 0px;
    }

    .searching-text {
        display: none;
        
    }

    .searching-bar form {
        width: 300px;
    }

    .searching-bar input[type=text] {
        width: 50vw;
    }
    
}
    

